body{
  background-color: #EEEFF1;
}

.dadosAcesso{
  padding: 20px;
}

.nomeUsuario{
  font-size: 18px;
  font-weight: 800;
  color: #004D61;
}

.diaSemana{
  color: #FF5031;
}

/* CSS para o bloco de saldo */
.saldo-card {
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    padding: 16px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .saldo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #004D61;
  }
  
  .saldo-header h4 {
    margin: 0;
    font-size: 20px;
    color: #555;
    border-bottom: 2px solid #004D61;
    padding-bottom: 2px;
    font-weight: 800;
  }
  
  .saldo-icone {
    font-size: 16px;
    color: #CBCBCB;
    cursor: pointer;
  }
  
  .saldo-conteudo {
    margin-top: 16px;
  }
  
  .saldo-conteudo h2 {
    margin: 0;
    font-size: 30x;
    font-weight: bold;
    color: #333333;
  }
  
  .saldo-conteudo p {
    margin: 0;
    font-size: 12px;
    color: #777777;
  }

  /* CSS para o Componente de Extrato */
  .extrato-card{
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
  }

  .extrato-card h5{
    font-weight: 800;
    color: #004D61;
    font-size: 20px;
  }

  .extrato-card ul{
    list-style-type: none;
  }

  .extrato-card ul li {
    display: inline-block;
    margin-right: 10px;
  }

  .extrato-editar-icone{
    color: #004D61;
    font-size: 16px;
  }

  .extrato-excluir-icone{
    color: #FF5031;
    font-size: 16px;
  }

  .extrato-header{
    font-weight: 800;
    color: #47A138;
    padding-left: 0px;
  }

  .extrato-transacao{
    display: inline-flex;
    border-bottom: 1px solid #47A138;
    padding: 10px 0px;
  }

  .extrato-mes{
    font-weight: 600;
    color: #004D61;
    font-size: 12px;
  }

  .extrato-data{
    color: #8B8B8B;
    font-size: 12px;
  }

  .extrato-valor{
    font-weight: bold;
    font-size: 1.5em;
    color: #000000;
  }  

  .extrato-link{
    color: #47A138;
    font-weight: 800;
    text-decoration: none;
  }

  .extrato-tipo-deposito{
    color: #47A138;
    font-size: 12px;
    text-transform: capitalize;
  }

  .extrato-tipo-transferencia{
    color: #FF5031;
    font-size: 12px;
    text-transform: capitalize;
  }

  /* CSS para Nova Transação */
  .nova-transacao-card{
    background-color: #CBCBCB;
    padding: 16px;
    border-radius: 8px;
  }

  .nova-transacao-titulo {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 15px;
  }

  .tipo-transacao-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    margin-bottom: 10px;
    background-size: 16px;
  }
  
  .tipo-transacao-select option {
    font-size: 1em;
    color: #333;
  }
  
  .valor-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  .concluir-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
  }
  
  .concluir-button:hover {
    background-color: #45a049;
  }